App_WebReferences/ServicioUploader/ImplementacionUploader.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ImplementacionUploader" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ContratoUploader_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Uploader/ServicioUploader.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Uploader/ServicioUploader.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Uploader/ServicioUploader.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/issc.MTOM" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ContratoUploader_ArchivarDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:ArchivarDocumento" />
  </wsdl:message>
  <wsdl:message name="ContratoUploader_ArchivarDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:ArchivarDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="ContratoUploader_BuscarDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarDocumento" />
  </wsdl:message>
  <wsdl:message name="ContratoUploader_BuscarDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarDocumentoResponse" />
  </wsdl:message>
  <wsdl:portType name="ContratoUploader">
    <wsdl:operation name="ArchivarDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/ContratoUploader/ArchivarDocumento" message="tns:ContratoUploader_ArchivarDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ContratoUploader/ArchivarDocumentoResponse" message="tns:ContratoUploader_ArchivarDocumento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/ContratoUploader/BuscarDocumento" message="tns:ContratoUploader_BuscarDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ContratoUploader/BuscarDocumentoResponse" message="tns:ContratoUploader_BuscarDocumento_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ContratoUploader" type="tns:ContratoUploader">
    <wsp:PolicyReference URI="#WSHttpBinding_ContratoUploader_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ArchivarDocumento">
      <soap12:operation soapAction="http://tempuri.org/ContratoUploader/ArchivarDocumento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarDocumento">
      <soap12:operation soapAction="http://tempuri.org/ContratoUploader/BuscarDocumento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImplementacionUploader">
    <wsdl:port name="WSHttpBinding_ContratoUploader" binding="tns:WSHttpBinding_ContratoUploader">
      <soap12:address location="http://localhost/Uploader/ServicioUploader.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost/Uploader/ServicioUploader.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>